.footer {
  height: 40vh;
  display: flex;
}

.footer-left {
  flex: 1;
  font-size: 20px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 1px solid white;
  justify-content: center;
  align-items: center;
}

.f-left-title {
  background-color: black;
  color: white;
}

.copyright {
  margin-top: 10px;
  font-size: 12px;
  background-color: black;
}

.f-social {
  display: flex;
  margin-top: 20px;
}

.footer-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.f-right-title {
  background-color: black;
  color: white;
  margin-bottom: 20px;
}

.f-text {
  text-align: center;
  width: 65%;
  background-color: black;
  color: white;
}

.f-social {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.f-social-wrapper {
  display: flex;
  width: 160px;
  height: 40px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  background-color: white;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
}

.f-social-item {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}

.f-social-wrapper p {
  margin-left: 10px;
  background-color: white;
}

@media screen and (max-width: 480px) {
  .footer-left {
    padding: 0 10px;
    text-align: center;
    width: 100%;
  }

  .f-left-title {
    font-size: 20px;
  }

  .f-text {
    font-size: 12px;
  }
}
